<div class="row">
	<h2>Edit <%= resource_name.to_s.humanize %></h2>

	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<%= devise_error_messages! %>
	<div class="large-5 small-9 columns">
		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.input :password, :autocomplete => "off" %>
		<%= f.input :password_confirmation, :autocomplete => "off" %>
		<%= f.input :current_password, :autocomplete => "off" %>

		<div>
			<%= f.submit "Update", class:'button small radius right' %>
		</div>
		<% end %>
		<div class="row">
			<hr />
			<%= link_to "Back", :back %>
			<hr />
			<h4>Cancel my account</h4>
			<p>
				<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class:'button tiny radius'  %>
			</p>

		</div>
	</div>
</div>

