<div class="row">
	<h2>Sign up</h2>
	<%= devise_error_messages! %>
	
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div class="large-5 small-9 columns">
		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>

		<div>
			<%= f.submit "Sign up", class:'small button radius right' %>
		</div>
		<% end %>
	</div>
</div>